#tablero{
    width: 700px;
    height: 700px;
    background-color: rgb(112, 112, 112);
    color: rgb(0, 0, 0);
  }

  .casilla{
    width: 70px;
    height: 70px;
    border: none;
    float: left; 
    font-size: 3em;
    text-align: center;
  }

  .tenue{
    background-color: #50d7e0;
  }

  .opaca{
    background-color: rgb(215, 250, 241);
  }

  .pieza {
    text-align: center;
    font-size: 50px;
  }

  .pieza2 {
    text-align: center;
    font-size: 50px;
  }

