#tablero{
    width: 720px;
    height: 720px;
    background-color: #f00;
  }

  .casilla{
    width: 70px;
    height: 70px;
    border: 1px solid #000;
    float: left; 
    font-size: 3em;
    text-align: center;
  }

  .tenue{
    background-color: #efefef;
  }

  .opaca{
    background-color: #888;
  }

  .pieza {
    text-align: center;
    font-size: 50px;
  }