
    <div id="tablero"  class="mt-5">
        <div class="fila">
            <div class="casilla">
                <span>8</span>
            </div>
            <div class="casilla tenue">
                <span> </span>
            </div>
            <div class="casilla opaca">
                <span class="pieza">&#9920;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza">&#9920;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza">&#9920;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza">&#9920;</span>
            </div>
            <div class="casilla">
                <span>8</span>
            </div>   
        </div>  

        <div class="fila">
            <div class="casilla">
                <span>7</span>
            </div>      
            <div class="casilla opaca">
                <span class="pieza">&#9920;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza">&#9920;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza">&#9920;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza">&#9920;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla">
                <span>7</span>
            </div>   
        </div>
        
        <div class="fila">
            <div class="casilla">
                <span>6</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza">&#9920;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza">&#9920;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza">&#9920;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza">&#9920;</span>
            </div>
            <div class="casilla">
                <span>6</span>
            </div>   
        </div>  

        <div class="fila">
            <div class="casilla">
                <span>5</span>
            </div>      
            <div class="casilla opaca">
                <span> opaca </span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span> opaca </span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span> opaca </span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span> opaca </span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla">
                <span>5</span>
            </div>   
        </div> 

        <div class="fila">
            <div class="casilla">
                <span>4</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span> opaca </span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span> opaca </span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span> opaca </span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span> opaca </span>
            </div>
            <div class="casilla">
                <span>5</span>
            </div>   
        </div>  

        <div class="fila">
            <div class="casilla">
                <span>3</span>
            </div>      
            <div class="casilla opaca">
                <span class="pieza" >&#9922;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza" >&#9922;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza" >&#9922;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza" >&#9922;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla">
                <span>3</span>
            </div>   
        </div> 

        <div class="fila">
            <div class="casilla">
                <span>2</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza" >&#9922;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza" >&#9922;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza" >&#9922;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza" >&#9922;</span>
            </div>
            <div class="casilla">
                <span>2</span>
            </div>   
        </div>  

        <div class="fila">
            <div class="casilla">
                <span>1</span>
            </div>      
            <div class="casilla opaca">
                <span class="pieza" >&#9922;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza" >&#9922;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza" >&#9922;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla opaca">
                <span class="pieza" >&#9922;</span>
            </div>
            <div class="casilla tenue">
                <span>tenue</span>
            </div>
            <div class="casilla">
                <span>1</span>
            </div>   
        </div> 
    </div>
