<div class="row">
    <div class="col-md-8 mx-auto mt-5">

<div class="card text-center">
    <div class="card-header fontT font">
        DAMAS
    </div>
    <div class="card-body">
      <h3 class="card-title ">
          Instrucciones del Juego</h3>

      <div class="card-text font" >
        Se juega por turnos alternos. Empieza a jugar quien tiene las fichas claras (blancas).
         En su turno cada jugador mueve una pieza propia.
        Las piezas se mueven (cuando no comen) una posición hacia delante 
        (nunca hacia atrás) en diagonal a la derecha o a la izquierda, a una posición adyacente vacía.
        Al momento de comer piezas del oponente, 
        se pueden comer varias en un mismo turno de forma diagonal hacia la derecha e izquierda para adelante y para atrás.
        NOTA: Soplar no es obligatorio. Es una decisión del jugador de turno.
      </div>

      <a href="/home" class="btn btn-primary mt-3">
          Entendido
      </a>
    </div>
    <div class="card-footer text-muted">
    </div>